@model WepApp_manha.Entidades.PermissaoEntidade


<form action="/Permissao/SalvarDados" method="post">
    <input type="text" name="Descricao" />
    <br />
    <button type="submit">
        Savar
    </button>

    
</form>
