<div class="card">
    <div class="card-header">
        tabela do sistema
    </div>
    <div class="card-body">
        <ol class="list-group">
            <li class="list-group-item">jaca</li>
            <li class="list-group-item">mamao</li>
            <li class="list-group-item">tirulinha</li>
            <li class="list-group-item">catapimbas</li>
            <li class="list-group-item">lacoste</li>
        </ol>
    </div>
</div>