@model WepApp_manha.Models.ClienteViewModel;

<div class="row">

    <div class="col-4">
    </div>
    <div class="col-4">

        @if (TempData["ERRO 666"] != null)
        {
            <div class="alert alert-danger">
                @TempData["ERRO 666"]
            </div>
        }

        <div class="card">
            <div class="card-header">
                Editar Cliente
            </div>

            <div class="card-body">

                <form action="/Clientes/SalvarDados" method="post">
                    <label>Nome</label>
                    <input type="text" name="Nome" class="form-control" value="@Model.Nome" />

                    <br />
                    <label>Telefone</label>
                    <input type="text" name="Telefone" class="form-control" value="@Model.Telefone" />

                    <br />
                    <button type="submit" class="btn btn-success">
                            Salvar Alterações
                    </button>
                </form>

            </div>
        </div>

    </div>
    <div class="col-4">
    </div>

</div>