<div class="card">
    <div class="card-header">
        <h2>Lista de Clientes</h2>
    </div>

    <div class="card-body">

        <div class="row">
            <div class="col-2">
                <a href="/Clientes/Cadastro" class="btn btn-success">Novo cliente</a>
            </div>

            <div class="col-3">
                <select name="tipoBusca" class="form-control">
                    <option value="0">Todos os Campos</option>
                    <option value="id">Busca por ID</option>
                    <option value="nome">Busca por Nome</option>
                    <option value="telefone">Busca por Telefone</option>
                </select>
            </div>
            <div class="col-4">
                <input class="form-control" type="text" name="Pesquisa" placeholder="Pesquisar"/>
            </div>
            <div class="col-3">
                <button class="btn btn-info" type="submit">
                    Pesquisar
                </button>
            </div>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nome</th>
                    <th>Telefone</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>gustavo</td>
                    <td>(16) +55 9 9627-8054</td>
                    <td>
                        <a href="/Clientes/Editar/1" class="btn btn-warning">Editar</a>
                        <a href="/Clientes/Excluir/1" class="btn btn-danger">Excluir</a>
                        <a href="/Clientes/Compras/1" class="btn btn-success">Compras</a>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Luan</td>
                    <td>(16) +55 9 8823-2531</td>
                    <td>
                        <a href="/Clientes/Editar/1" class="btn btn-warning">Editar</a>
                        <a href="/Clientes/Excluir/1" class="btn btn-danger">Excluir</a>
                        <a href="/Clientes/Compras/1" class="btn btn-success">Compras</a>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Paulo</td>
                    <td>(16) +55 9 9722-1005</td>
                    <td>
                        <a href="/Clientes/Editar/1" class="btn btn-warning">Editar</a>
                        <a href="/Clientes/Excluir/1" class="btn btn-danger">Excluir</a>
                        <a href="/Clientes/Compras/1" class="btn btn-success">Compras</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>